In [89]:
# IMPORTS
import numpy as np
import pandas as pd
import math
import os.path
import time
from binance.client import Client
from datetime import timedelta, datetime
from dateutil import parser
from tqdm import tqdm_notebook #(Optional, used for progress-bars)
import matplotlib.pyplot as plt
from functools import reduce

# Obtencion data

In [2]:
### API
binance_api_key = ''    #Enter your own API-key here
binance_api_secret = '' #Enter your own API-secret here

### CONSTANTS
binsizes = {"1m": 1, "5m": 5, "15m" : 15, "1h": 60, "1d": 1440}
batch_size = 750
binance_client = Client(api_key=binance_api_key, api_secret=binance_api_secret)


### FUNCTIONS
def minutes_of_new_data(symbol, kline_size, data, source):
    if len(data) > 0:  old = parser.parse(data["timestamp"].iloc[-1])
    elif source == "binance": old = datetime.strptime('1 Jan 2018', '%d %b %Y')
    if source == "binance": new = pd.to_datetime(binance_client.get_klines(symbol=symbol, interval=kline_size)[-1][0], unit='ms')
    return old, new

# Gets all data for specific symbol. Gets only new data if previous already available
def get_all_binance(symbol, kline_size, save = False):
    filename = '%s-%s-data.csv' % (symbol, kline_size)
    if os.path.isfile(filename): data_df = pd.read_csv(filename)
    else: data_df = pd.DataFrame()
    oldest_point, newest_point = minutes_of_new_data(symbol, kline_size, data_df, source = "binance")
    delta_min = (newest_point - oldest_point).total_seconds()/60
    available_data = math.ceil(delta_min/binsizes[kline_size])
    if oldest_point == datetime.strptime('1 Jan 2018', '%d %b %Y'): print('Downloading all available %s data for %s. Be patient..!' % (kline_size, symbol))
    else: print('Downloading %d minutes of new data available for %s, i.e. %d instances of %s data.' % (delta_min, symbol, available_data, kline_size))
    klines = binance_client.get_historical_klines(symbol, kline_size, oldest_point.strftime("%d %b %Y %H:%M:%S"), newest_point.strftime("%d %b %Y %H:%M:%S"))
    data = pd.DataFrame(klines, columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_av', 'trades', 'tb_base_av', 'tb_quote_av', 'ignore' ])
    data['timestamp'] = pd.to_datetime(data['timestamp'], unit='ms')
    if len(data_df) > 0:
        temp_df = pd.DataFrame(data)
        data_df = data_df.append(temp_df)
    else: data_df = data
    data_df.set_index('timestamp', inplace=True)
    if save: data_df.to_csv(filename)
    print('All caught up..!')
    return data_df

Download data for BTC, ETH and LTC

In [19]:
tickers = ["BTCUSDT", "ETHUSDT", "LTCUSDT"]
for ticker in tickers:
    data=get_all_binance(ticker,"1d", save = True)

Downloading all available 1d data for BTCUSDT. Be patient..!
All caught up..!
Downloading all available 1d data for ETHUSDT. Be patient..!
All caught up..!
Downloading all available 1d data for LTCUSDT. Be patient..!
All caught up..!

In [129]:
data_btc=pd.read_csv("BTCUSDT-1d-data.csv")
data_eth=pd.read_csv("ETHUSDT-1d-data.csv")
data_ltc=pd.read_csv("LTCUSDT-1d-data.csv")

In [130]:
#data_mes=data.loc['2021-01-03 12:00:00':'2021-01-5 12:00:00']
#data_mes=data
#data_mes=data_mes.astype(float)

# Calculations

Only need closing price and data. Drop all other cols

In [131]:
data_btc.drop(data_btc.columns.difference(['timestamp','close']), 1, inplace=True)
data_eth.drop(data_eth.columns.difference(['timestamp','close']), 1, inplace=True)
data_ltc.drop(data_ltc.columns.difference(['timestamp','close']), 1, inplace=True)

Set timestamp as index

In [140]:
data_btc

               close
timestamp
2018-01-01  13380.00
2018-01-02  14675.11
2018-01-03  14919.51
2018-01-04  15059.54
2018-01-05  16960.39
...              ...
2021-07-28  40019.56
2021-07-29  40016.48
2021-07-30  42206.37
2021-07-31  41461.83
2021-08-01  41750.06

[1309 rows x 1 columns]

In [133]:
data_btc.set_index('timestamp', inplace=True)
data_eth.set_index('timestamp', inplace=True)
data_ltc.set_index('timestamp', inplace=True)

Join them on index

In [134]:
dfs = [data_btc, data_eth, data_ltc]

In [135]:
df_merged = pd.concat(dfs, join='outer', axis=1).fillna('void')
df_merged.columns = ['btc_close', 'eth_close', 'ltc_close']
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 2018-01-01 to 2021-08-01
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   btc_close  1309 non-null   float64
 1   eth_close  1309 non-null   float64
 2   ltc_close  1309 non-null   float64
dtypes: float64(3)
memory usage: 40.9+ KB

In [136]:
df_merged

            btc_close  eth_close  ltc_close
timestamp
2018-01-01   13380.00     754.99     222.61
2018-01-02   14675.11     855.28     247.33
2018-01-03   14919.51     934.03     238.77
2018-01-04   15059.54     940.00     233.00
2018-01-05   16960.39     959.30     240.54
...               ...        ...        ...
2021-07-28   40019.56    2300.90     140.42
2021-07-29   40016.48    2382.92     141.44
2021-07-30   42206.37    2461.81     145.51
2021-07-31   41461.83    2531.05     144.37
2021-08-01   41750.06    2594.67     148.75

[1309 rows x 3 columns]

In [123]:
returns = np.log(df_merged) / df_merged.shift(1)
returns

            btc_close  eth_close  ltc_close
timestamp
2018-01-01        NaN        NaN        NaN
2018-01-02   0.000717   0.008942   0.024755
2018-01-03   0.000655   0.007997   0.022138
2018-01-04   0.000645   0.007329   0.022830
2018-01-05   0.000647   0.007304   0.023532
...               ...        ...        ...
2021-07-28   0.000269   0.003366   0.036698
2021-07-29   0.000265   0.003380   0.035265
2021-07-30   0.000266   0.003277   0.035211
2021-07-31   0.000252   0.003183   0.034172
2021-08-01   0.000257   0.003106   0.034649

[1309 rows x 3 columns]

In [124]:
print('Ann returns')
print((returns[df_merged.columns].mean() * 365).to_string())

Ann returns
btc_close     0.380426
eth_close     7.374350
ltc_close    22.072766

In [137]:
print('std dev')
print((returns[df_merged.columns].std() * 365).to_string())

std dev
btc_close    0.195713
eth_close    4.273539
ltc_close    9.161582

In [142]:
rf = 0.0016 # Assume 0.16% risk free rate
num_portfolios = 5000

portfolio_returns = []
portfolio_risk = []
sharope_ratio_portfolio = []
portfolio_weights = []